body {
  font-family: 'Roboto', sans-serif;
  background-color: #e8ded9;
}

.dif_color {
  color: #61c386;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 400;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item a {
  display: block;
  color: #5b8c6f;
  text-decoration: none;
}

.nav-item a:hover {
  color: #61c386
}

p {
  color: #5b8c6f;
}

@media screen and (max-width: 767px) {
  #image {
    display: none;
  }
}

.button {
  background-color: #61c386;
  border-radius: 10px;
  margin: 10px;
  color: white;
  font-weight: 300;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%
}

.button:hover {
  color: #61c386;
  background-color: #f7e966
}

@media screen and (min-width: 768px) {
  nav {
    display: flex;
    width: auto;
    justify-content: space-between;
    }

  .nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  .nav-item a {
    display: inline-block;
    padding: 5px 5px;
    text-decoration: none;
    color: #5b8c6f;
    align-items: center;
  }
  #image {
    background-image: url(code.png);
    background-repeat: no-repeat;
    background-size: 25%;
  }

  .button {
    width: auto;
  }
}
