.button {
  color: white;
  background-color: #61c386;
  border-radius: 10px;
  margin: 10px;
  padding: 12px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  }

.button:hover {
  color: #61c386;
  background-color: #f7e966
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e8ded9;
}

.dif_color {
  color: #61c386;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 400;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item a {
  display: block;
  color: #5b8c6f;
  text-decoration: none;
}

.nav-item a:hover {
  color: #61c386
}

p {
  color: #5b8c6f;
}

img {
  display: none;
}

button {
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  nav {
    display: flex;
    width: auto;
    justify-content: space-between;
    }

  .nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav-item a {
    display: inline-block;
    padding: 5px 5px;
    text-decoration: none;
    color: #5b8c6f;
      }

  .button {
    width: auto;
  }

  img {
    display: inline-block;
    }

  #image {
      display: flex;
      padding: 30px;
      justify-content: center;
      align-content: center;
  }
}
